@tailwind base;
@tailwind components;
@tailwind utilities;

.h-mobile-nav {
  height: calc(100vh - 72px);
}

.gray-rounded-section {
  @apply bg-brand-gray text-brand-black rounded-[32px] p-8;
}

.green-rounded-section {
  @apply bg-brand-green text-white rounded-[32px] p-8;
}

p {
    @apply text-lg leading-8;
}

h1 {
  @apply text-6xl sm:text-7xl   md:text-8xl 2xl:text-9xl font-light;
}


h3 {
    @apply  text-2xl leading-[40px] 2xl:text-3xl 2xl:leading-[46px] font-light;
}

h4 {
  @apply text-2xl;
}

.black-arrow {
    path {
        stroke: #252525;
    }
}

.white-arrow {
    path {
        stroke: white;
    }
}